<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rcloud.server.sealtalk.dao.GroupMembersMapper">
    <resultMap id="BaseResultMap" type="com.rcloud.server.sealtalk.domain.GroupMembers">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="groupId" jdbcType="INTEGER" property="groupId"/>
        <result column="memberId" jdbcType="INTEGER" property="memberId"/>
        <result column="displayName" jdbcType="VARCHAR" property="displayName"/>
        <result column="role" jdbcType="INTEGER" property="role"/>
        <result column="isDeleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="groupNickname" jdbcType="VARCHAR" property="groupNickname"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="WeChat" jdbcType="VARCHAR" property="weChat"/>
        <result column="Alipay" jdbcType="VARCHAR" property="alipay"/>
        <result column="memberDesc" jdbcType="VARCHAR" property="memberDesc"/>
        <result column="timestamp" jdbcType="BIGINT" property="timestamp"/>
        <result column="createdAt" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updatedAt" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>


    <resultMap id="resultMapWithGroups" type="com.rcloud.server.sealtalk.domain.GroupMembers">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="groupId" jdbcType="INTEGER" property="groupId"/>
        <result column="memberId" jdbcType="INTEGER" property="memberId"/>
        <result column="displayName" jdbcType="VARCHAR" property="displayName"/>
        <result column="role" jdbcType="INTEGER" property="role"/>
        <result column="isDeleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="groupNickname" jdbcType="VARCHAR" property="groupNickname"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="WeChat" jdbcType="VARCHAR" property="weChat"/>
        <result column="Alipay" jdbcType="VARCHAR" property="alipay"/>
        <result column="memberDesc" jdbcType="VARCHAR" property="memberDesc"/>
        <result column="timestamp" jdbcType="BIGINT" property="timestamp"/>
        <result column="createdAt" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updatedAt" jdbcType="TIMESTAMP" property="updatedAt"/>
        <association property="groups" javaType="com.rcloud.server.sealtalk.domain.Groups">
            <id column="g_id" jdbcType="INTEGER" property="id"/>
            <result column="g_name" jdbcType="VARCHAR" property="name"/>
            <result column="g_portraitUri" jdbcType="VARCHAR" property="portraitUri"/>
            <result column="g_creatorId" jdbcType="INTEGER" property="creatorId"/>
            <result column="g_memberCount" jdbcType="INTEGER" property="memberCount"/>
            <result column="g_isMute" jdbcType="INTEGER" property="isMute"/>
            <result column="g_certiStatus" jdbcType="INTEGER" property="certiStatus"/>
            <result column="g_timestamp" jdbcType="INTEGER" property="timestamp"/>
        </association>
    </resultMap>

    <resultMap id="resultMapWithUsers" type="com.rcloud.server.sealtalk.domain.GroupMembers">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="groupId" jdbcType="INTEGER" property="groupId"/>
        <result column="memberId" jdbcType="INTEGER" property="memberId"/>
        <result column="displayName" jdbcType="VARCHAR" property="displayName"/>
        <result column="role" jdbcType="INTEGER" property="role"/>
        <result column="isDeleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="groupNickname" jdbcType="VARCHAR" property="groupNickname"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="WeChat" jdbcType="VARCHAR" property="weChat"/>
        <result column="Alipay" jdbcType="VARCHAR" property="alipay"/>
        <result column="memberDesc" jdbcType="VARCHAR" property="memberDesc"/>
        <result column="timestamp" jdbcType="BIGINT" property="timestamp"/>
        <result column="createdAt" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updatedAt" jdbcType="TIMESTAMP" property="updatedAt"/>
        <association property="users" javaType="com.rcloud.server.sealtalk.domain.Users">
            <id column="user_id" jdbcType="INTEGER" property="id"/>
            <result column="user_nickname" jdbcType="VARCHAR" property="nickname"/>
            <result column="user_portraitUri" jdbcType="VARCHAR" property="portraitUri"/>
            <result column="user_gender" jdbcType="INTEGER" property="gender"/>
            <result column="user_stAccount" jdbcType="INTEGER" property="stAccount"/>
            <result column="user_phone" jdbcType="INTEGER" property="phone"/>
            <result column="user_region" jdbcType="INTEGER" property="region"/>
        </association>
    </resultMap>

    <select id="queryGroupMembersWithGroupByMemberId" resultMap="resultMapWithGroups" >
    SELECT gm.*,
       g.id g_id,
       g.name g_name,
       g.portraitUri g_portraitUri,
       g.creatorId g_creatorId,
       g.memberCount g_memberCount,
       g.isMute g_isMute,
       g.certiStatus g_certiStatus,
       g.timestamp g_timestamp


    FROM group_members gm join `groups` g
    on gm.groupId = g.id
    where gm.memberId=#{memberId} and g.deletedAt is null ;
  </select>

   <select id="queryGroupMembersWithUsersByGroupId" resultMap="resultMapWithUsers">
    SELECT gm.*,
       u.id user_id,
       u.region user_region,
       u.nickname user_nickname,
       u.portraitUri user_portraitUri,
       u.gender user_gender,
       u.stAccount user_stAccount,
       u.phone user_phone

    FROM group_members gm join `users` u
    on gm.memberId = u.id
    where gm.groupId=#{groupId}
    <if test=" isDeleted != null">
        and isDeleted = #{isDeleted}
    </if>
  </select>

  <select id="queryGroupMembersWithGroupByGroupIdAndMemberId" resultMap="resultMapWithGroups">
    SELECT gm.*,
       g.id g_id,
       g.name g_name,
       g.portraitUri g_portraitUri,
       g.creatorId g_creatorId,
       g.memberCount g_memberCount,
       g.isMute g_isMute,
       g.certiStatus g_certiStatus
    FROM group_members gm join `groups` g
    on gm.groupId = g.id
    where gm.groupId = #{groupId} and gm.memberId=#{memberId}  ;
  </select>


    <select id="selectGroupMembersWithUsersByGroupIdsAndVersion" resultMap="resultMapWithUsers">
    SELECT gm.*,
       u.id user_id,
       u.region user_region,
       u.nickname user_nickname,
       u.portraitUri user_portraitUri,
       u.gender user_gender,
       u.stAccount user_stAccount,
       u.phone user_phone

    FROM group_members gm join `users` u
    on gm.memberId = u.id
    where gm.groupId in
        <foreach item="item" collection="groupIdList" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    and gm.timestamp > #{version}
  </select>




    <insert id ="insertBatch"  keyProperty="id" useGeneratedKeys="true" parameterType="java.util.List" >
        insert into group_members
        (
        groupId,
        memberId,
        role,
        `timestamp` ,
        createdAt,
        updatedAt
        )
        values
        <foreach collection ="groupMemberList" item="gm" index= "index" separator =",">
        (
            #{gm.groupId,jdbcType=INTEGER},
            #{gm.memberId,jdbcType=INTEGER},
            #{gm.role,jdbcType=INTEGER},
            #{gm.timestamp,jdbcType=BIGINT},
            #{gm.createdAt,jdbcType=TIMESTAMP},
            #{gm.updatedAt,jdbcType=TIMESTAMP}
        )
        </foreach >
    </insert >







</mapper>