<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rcloud.server.sealtalk.dao.UsersMapper">
  <resultMap id="BaseResultMap" type="com.rcloud.server.sealtalk.domain.Users">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="portraitUri" jdbcType="VARCHAR" property="portraitUri" />
    <result column="passwordHash" jdbcType="CHAR" property="passwordHash" />
    <result column="passwordSalt" jdbcType="CHAR" property="passwordSalt" />
    <result column="rongCloudToken" jdbcType="VARCHAR" property="rongCloudToken" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="stAccount" jdbcType="VARCHAR" property="stAccount" />
    <result column="phoneVerify" jdbcType="INTEGER" property="phoneVerify" />
    <result column="stSearchVerify" jdbcType="INTEGER" property="stSearchVerify" />
    <result column="friVerify" jdbcType="INTEGER" property="friVerify" />
    <result column="groupVerify" jdbcType="INTEGER" property="groupVerify" />
    <result column="pokeStatus" jdbcType="INTEGER" property="pokeStatus" />
    <result column="groupCount" jdbcType="INTEGER" property="groupCount" />
    <result column="timestamp" jdbcType="BIGINT" property="timestamp" />
    <result column="createdAt" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updatedAt" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deletedAt" jdbcType="TIMESTAMP" property="deletedAt" />
  </resultMap>
</mapper>